app-task-details-wrapper app-task-details, app-release-notes-details {
  max-width: none;
  }

  /* In List view, the task list expands to the full width when no task is selected, hiding the unused grey space on the right */ 
app-tasks-info-panel.ng-star-inserted {
    display: none;
  }

  /* In List view, this changes the task state indicator into a small colored bar. */ 
  span.badge.badge-status.badge-list-group {
    width: 5px;
    font-size: 0px;
  }

   /* In List view, this hides the indicator for that the task is a project risk */
  span.project-risk {
  display: none;
  
  }

/* In List view, this changes the colors of the task type indicator for Issues. */
  span[title="Issue"] span {
  background-color:rgba(255, 170, 170,0.2);
  color: #bb6666;
  }

  

/* When loading the Board view, these overrides will hide the bucket overview at the bottom, and it will reappear when the blue icon is clicked.*/
  app-panel-bottom div.panel {
    height:0px;
  }
  app-panel-bottom.collapsed div.panel {
    height:257px;
  }

  /* This expands the width of the time registration pane on the right. */
  app-time-registration-sidebar.ng-star-inserted {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
  }

/* Hides the coghweel for the cookies settings */
div.ch2 {
  display: none;
}

/* 8 april 2025*/
/* shrinks the drop down with task status to the color a first 3 letters */
button#dropdownMenuButtonTaskStatus
{
    width: 75px;
}
/* less white space under the breadcumb section */
div.breadcrumb-section {
  display: contents;
}
/* but make sure there's some space between header and rest of content */
div.header-section {
  margin-bottom: 5px;
}

/* minimize the padding for the content*/
/*#wrapper main>div>*:not(router-outlet)>.content {
  padding: 0px;
  margin : 0px;
}
main[_ngcontent-ng-c177657502] {
padding: 10px;

}*/

/* Puts block with percent complete, estimate time, prio etc closer to task description */
.py-3 {
  padding-top: 0;
}

 
/*div.modal.fade.show {
  width: 1500px;

  margin-right: auto;
  margin-left: auto;
}*/
